<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="banner"></div>
<div id="header-outer" class="outer">
    <div id="header-inner" class="inner">
        <nav id="main-nav">
            <a class="main-nav-link" href="/post/index">首页</a>
{#            <a class="main-nav-link" href="/post/cate">归档</a>#}
            <a class="main-nav-link" href="/post/aboutme">关于</a>
        </nav>
        <div class="d1">
            <form method="get" action="/post/search/">
                <input type="text" name="q" placeholder="搜索">
            </form>
        </div>
    </div>
</div>
</body>
</html>