{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<article class="article article-type-post">#}
{#    <div class="article-meta">#}
{#        <a class="article-date">#}
{#            <time>2018年04月15日</time>#}
{#        </a>#}
{#        <div class="article-category">#}
{#            <a class="article-category-link" href="http://hello123.pythonanywhere.com/#" target="_blank">后端</a>#}
{#        </div>#}
{#    </div>#}
{#    <div class="article-inner">#}
{#        <header class="article-header">#}
{#            <h1 itemprop="name">#}
{#                <a class="article-title" href="http://hello123.pythonanywhere.com/#" target="_blank">富文本编辑器</a>#}
{#            </h1>#}
{#        </header>#}
{#        <div class="article-entry" itemprop="articleBody">#}
{#            <h2>前言</h2>#}
{#            <hr>#}
{#            哈哈哈#}
{##}
{##}
{#            <p class="article-more-link">#}
{#                <a href="http://hello123.pythonanywhere.com/post/15" target="_blank">阅读全文</a>#}
{#            </p>#}
{#        </div>#}
{#        <footer class="article-footer">#}
{#            <a data-url="存放文章的url" class="article-share-link">分享</a>#}
{#            <ul class="article-tag-list">#}
{##}
{#                <li class="article-tag-list-item">#}
{#                    <a class="article-tag-list-link" href="http://hello123.pythonanywhere.com/#">Python</a>#}
{#                </li>#}
{##}
{##}
{##}
{##}
{#            </ul>#}
{#        </footer>#}
{#    </div>#}
{#</article>#}
{##}
{##}
{##}
{##}
{##}
{#<nav id="page-nav">#}
{#    <span class="page-number current">1</span>#}
{#    <a class="page-number" href="http://hello123.pythonanywhere.com/page/2">2</a>#}
{#    <a class="page-number" href="http://hello123.pythonanywhere.com/page/3">3</a>#}
{#    <a class="page-number" href="http://hello123.pythonanywhere.com/page/4">4</a>#}
{#    <a class="page-number" href="http://hello123.pythonanywhere.com/page/5">5</a>#}
{#    <a class="page-number" href="http://hello123.pythonanywhere.com/page/6">6</a>#}
{#    <a class="page-number" href="http://hello123.pythonanywhere.com/page/7">7</a>#}
{#    <a class="page-number" href="http://hello123.pythonanywhere.com/page/8">8</a>#}
{#    <a class="page-number" href="http://hello123.pythonanywhere.com/page/9">9</a>#}
{#    <a class="page-number" href="http://hello123.pythonanywhere.com/page/10">10</a>#}
{#    <a class="extend next" rel="next" href="http://hello123.pythonanywhere.com/page/2">Next »</a>#}
{##}
{#</nav>#}
{#</body>#}
{#</html>#}